.grey{
   background: lightgrey;
   height: 2000px;
   margin-top: 500px; 
}
.image{
    float: right;
    width: 400px;
    position: sticky;
    top: 100px;
    transition: all 1s;
}
.img{
    transition: all 1s;
}
.text{
    float: left;
    width: 300px;
}